html, body {
    margin: 0px;
    padding: 0px;
}

#user-generated-content {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}

.meme-pics  {
    width:  100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
}

.content-container {
    width: 22.5%;
    height: 22.5%;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 17px -9px rgb(0, 0, 0);
    flex-direction:row;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container:hover {
     background-color: rgb(201, 201, 201);
     transition: 1s;
     opacity: .8;
 }

 .content-container{
     transition: 1s;
 }


.top-text {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    
}

.bottom-text {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hover-text{
    position: absolute;
    font-size: 10vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: .6;
    text-shadow: none;
}


p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 2vw;
    text-shadow: -1px -1px 0 #000,
                  1px -1px 0 #000,    
                 -1px 1px 0 #000,    
                  1px 1px 0 #000;  
    word-wrap: break-word;
}

/* form styling */

form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.input-container {
    padding: 2%;
    width: 30%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

label, #input {
    padding: 2px;
    flex-direction: row;
    width: 100%;
}

#input {
    border-radius: 5px;
    height: 25px;
}

#input:hover {
    border: 2px solid salmon;
    transition: 1s;
    box-shadow: salmon 0px 0px 10px -5px;
}

.input-container:hover {
    color: salmon;
    transition: 1s;
}

label {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 2%;
    height: 60px;
    margin: 0px;
    padding-top: 25px;
    font-size: 4vw;
}

#form-container {
    background-color: azure;
}

#meme-form-submission {
    position: absolute;
    border: none;
    background-color: black;
    width: 100%;
    color: white;
    height: 60px;
    margin-top: 145px;
    font-size: 140%;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#meme-form-submission:hover {
    color: salmon;
    font-size: 160%;
    transition: .8s;
}

#luaghing-image {
    position: absolute;
    padding: 10px;
    padding-right: 80px;
    top: 0;
    right: 0;
    height: 8vw;
    width: 8vw;
}

